.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  font-size: calc(10px + 2vmin);
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  &__categories {
    width: 300px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
  }

  &__categories-content {
    padding-top: 50px;
  }
}